header {
  background: #1b2027;
  padding: 34px 10% 21px;
  position: relative;
}
header::before {
  bottom: 0;
  border-top: 1px solid #333d4a;
}
header::after {
  top: 0;
  border-bottom: 1px solid #333d4a;
}
.header_abajo {
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
  width: 80%;
}
.header_abajo h1 {
  font-family: "Georgia";
  font-style: italic;
  font-size: 26px;
  color: #f1eee5;
}
.header_abajo p {
  color: #64909f;
  font-family: "Arial Unicode MS";
  font-size: 18px;
}
header::after,
header::before {
  content: '';
  background: rgba(0,0,0,0.2);
  padding-top: 7px;
  width: 100%;
  position: absolute;
  left: 0;
}
.logo {
  width: 30%;
}
.logo span {
  color: #f1eee5;
  font-family: "Segoe UI";
  font-size: 34px;
}
.menu_principal {
  width: 65%;
}
.menu_principal > ul > li {
  display: inline-block;
  color: #f1eee5;
  position: relative;
  font-family: "Segoe UI";
  font-size: 14px;
  padding: 0 10px;
  line-height: 22px;
  height: auto;
  border-radius: 4px;
}
.menu_principal > ul > li:hover > ul {
  display: block;
}
.menu_principal > ul > li.active,
.menu_principal > ul > li:hover {
  background: url("../imgs/bg3.png");
}
.menu_principal > ul > li > a {
  color: #f1eee5;
  text-decoration: none;
}
.menu_principal > ul > li > ul {
  position: absolute;
  left: 0;
  padding: 0;
  display: none;
  width: 100%;
}
.menu_principal > ul > li > ul > li {
  list-style: none;
  cursor: pointer;
  padding: 5px;
}
.menu_principal > ul > li > ul > li:hover {
  background: url("../imgs/bg3.png");
}
.logo,
.menu_principal {
  display: inline-block;
  vertical-align: top;
}
.logo img,
.logo span {
  display: inline-block;
  vertical-align: middle;
}